.list {
  background: #FFFFFF;
  border-radius: 8px;
  box-shadow: 0 1px 3px rgba(0,0,0,0.1), 0 1px 0 rgba(255,255,255,1);
  overflow: hidden;
  border: 1px solid #DCDCDC;
  display: flex;
  flex-direction: column;
}
